@charset "utf-8";
/* CSS Document */
/*form style*/
/*form style*/
.form-horizontal {
    margin: 10px 0 10px 0;
    width: 100%;
    background: #ffffff;
}

.pure-form {
    padding: 10px 0 10px 30px;
}

.pure-form label {
    font-weight: 600;
    font-size: 13px;
}

.form-control {
    display: block;
    width: 90%;
    padding: .5rem .7rem;
    font-size: 12px;
    line-height: 1.25;
    color: #464a4c;
}

