@CHARSET "UTF-8";

html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	
	font-size: 13px;
color: #424242;
font-family: "Segoe UI", Arial, sans-serif;
}

body {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

#header_wrp {
	width: 100%;
	position: fixed;
	background-color: #b71c1c;
	overflow: hidden;
	z-index: 2;
	font-size: 17px;
	background-color: #5f5f5f;
	background-color: #293a4a;
	color: #f1f1f1;
	padding: 0;
	letter-spacing: 1px;
	top: 0px;
}

.topnav {
	font-family: "Segoe UI", Arial, sans-serif
}

.topnav a.active {
	background-color: #73AD21;
	background-color: #4CAF50;
	background-color: #CE3F38;
	color: #ffffff;
}

.topnav a {
	padding: 10px 15px 9px 15px !important;
	border-bottom: none;
	display: inline-block;
	transition: background-color 0.3s ease, color 0.3s ease;
	text-transform: uppercase;
}

.topnav a:link, .topnav a:visited {
    text-decoration: none;
    color: #fff;
}

/* mouse over link */
.topnav a:hover {
    background-color: #000;
	color: #ffffff;
}

/* selected link */
.topnav a:active {
    color: #4CAF50;
}

.box_shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12) !important
}

.hidden{
	display: none;
}

.menu_item {
	height: 30px;
	color: #fafafa;
}

.menu_item a:link {
	color: red;
}


.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.menu_item {
	padding: 5px 10px 5px 10px;
}

#content {
	width: 100%;
	margin-top: 38px;
}

.option_wrp, .list_wrp, #detail_wrp { 
	//padding-top: 25px;
}

.option_wrp {
	float: left;
	width: 170px;
	width: 37px;
	border-right: 1px solid #e4e4e4;
	background-color: #333;
	height: 100%;
	//position: fixed;
	//top: 40px;
	//bottom: 0px;
}
#option_wrp{
	
	position: relative;
	z-index: 1000;
	
}
.list_wrp {
	float: left;
	width: 410px;
	border-right: 1px solid #e4e4e4;
	background-color: #f5f5f5;
	height: 100%;
	overflow: auto;
	display: none;
	
	//position: fixed;
	//left: 45px;
	//top: 40px;
	//bottom: 0px;
}

.min_list_wrp {
	width: 12px;
	/*background: repeating-linear-gradient(145deg, #f0f0f0, #f0f0f0 10px, #ccc 10px, #ccc
		20px);*/
}

.icon_wrp {
	cursor: pointer;
	color: #b71c1c;
	font-size: 10px;
	text-align: right;
}

#detail_wrp {
	overflow: auto;
	height: 100%;
	top: 41px;
}

.label {
	font-size: 16px;
	padding:6px 1px 1px 16px;
	color: #b71c1c;
	color: #000;
	color: #4CAF50;
	cursor: pointer;
	font-family: "Segoe UI", Arial, sans-serif
}
.link {
	padding:2px 1px 1px 16px;
	padding: 3px 5px;
	font-size: 12px;
	cursor: pointer;
	color: #424242;
	color: #e8e8e8;
	border: 1px solid #333;
	font-family: "Segoe UI", Arial, sans-serif;
}
.link_label{
	float: left;
	padding: 4px 4px 2px 8px;
}
.link:hover{
	max-width:200px;
	min-width: 180px;
 white-space: nowrap;
 //border: 1px solid #333;
}
.link_sel{
	color: #73AD21;
}

.link:hover {
	color: #b71c1c;
	background-color: #f0f0f0;
	border: 1px solid #333;
}

.perm_list {
	font-size: 11px;
	position: relative;
	padding: 3px;
	margin: 0px;
	color: #555;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e4e4e4;
}

.perm_list_link {
	cursor: pointer;
}

.perm_list_link:hover {
	color: #b71c1c;
	background-color: #f0f0f0;
}
.perm_btn, #adv_search_link{
	
	cursor: pointer;
}
.tab_wrp {
	border-bottom: 4px solid #a19c9e;
	border-bottom: 4px solid #73AD21;
	display: block;
}

.tab_wrp:before, .tab_wrp:after {
	content: "";
	display: table;
}

.tab_wrp:after {
	clear: both;
}

.tab {
	float: left;
	margin: 5px 2px 0px 2px;
	border-left: 1px solid #a19c9e;
	border-right: 1px solid #a19c9e;
	border-top: 1px solid #a19c9e;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
}
.min_tab{
	float: left;
	margin: 5px 2px 0px 10px;
	border-left: 1px solid #a19c9e;
	border-right: 1px solid #a19c9e;
	border-top: 1px solid #a19c9e;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
}

.active_tab {
	background-color: #a19c9e;
	background-color: #73AD21;
	color: #fff;
}

#tab_target {
	overflow: auto;
	height: 100%;
	background-color: #fafafa;
	padding: 10px;
}


.label_sec form{
	padding:2px 1px 1px 15px;
	margin: 0px;
	
font-size: 13px;
cursor: pointer;
color: #424242;
font-family: "Segoe UI", Arial, sans-serif
}

.label_sec button{
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-color: #fff;
}



.perm_list_row{
	padding:3px;
font-size: 13px;
cursor: pointer;
color: #424242;
font-family: "Segoe UI", Arial, sans-serif;

	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e4e4e4;
}

.perm_list_row_field{
	
}

#manage_table_search_results{
	border-top: solid 1px #e4e4e4;
	margin-top: 5px;
	height: 100%;
	overflow: auto;
}
.manage_table_searchbox{
	width: 320px;
}
.table_res_header{
	font-weight: bold;
	
}
.table_wrp{
	overflow: auto;
	width: 100%;
	cellpadding: 0px;
	cellspacing: 0px;
	font-size: 13px;
	border-collapse: collapse;
	border: 0px;
}
.cell_del, .cell_del_hd{
	width: 16px;
	border-bottom: 1px dotted #e4e4e4;
   	border-right: 1px solid #ddd;
}
.cell_del_hd{
	background-color: #e4e4e4;
}
.table_res_row{
	position: relative;
	padding: 3px;
	margin: 0px;
	color: #555;
	cursor: pointer;
}
.table_res_row:hover, .table_res_row_sel{
	color: #b71c1c;
	color: #73AD21;
	background-color: #f0f0f0;	
}
.table_res_cell, .table_res_header{
	padding: 3px;
       max-width:100px;
       min-width: 50px;
   		 border-bottom: 1px dotted #e4e4e4;
   		 border-right: 1px solid #ddd;
   		 text-align: left;
   		   		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table_res_header{
	background-color: #e4e4e4;
}

.view_table_row{
	padding: 10px;
}


